// Buttons
// -------

@use '../../variables' as *;

// Settings
// --------

:root {
	--button-margin-bottom: 1em;
	--button-padding: .75em 1em;
	--button-border-width: 1px;
	--button-border-radius: 4px;
	--button-transition: .2s ease-out;

	--button-background: var(--secondary-color);
	--button-border-color: var(--button-background);
	--button-color: var(--black);
	--button-icon-color: var(--button-color);

	--button-background-hover: var(--secondary-color-dark);
	--button-border-color-hover: var(--button-background-hover);
	--button-color-hover: var(--button-color);
	--button-icon-color-hover: var(--button-color-hover);
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--button-padding: 3em;
// 	}
// }

.dark,
.theme-dark,
.os-theme-dark {
	--button-padding: 3em;
}

// Mixins
// ------

/// Button styling.
@mixin ds-button-base() {
	display: flex;
    align-items: center;
    gap: 6px;
	margin-bottom: var(--button-margin-bottom);
	padding: var(--button-padding);
	background: var(--button-background);
	border: var(--button-border-width) solid var(--button-border-color);
	border-radius: var(--button-border-radius);
	color: var(--button-color);
	cursor: pointer;
	line-height: 1;
	transition: var(--button-transition);

	.icon {
		color: var(--button-icon-color);
	}

	&:disabled,
	&.disabled,
	&[aria-disabled='true'] {
		opacity: .7;
		cursor: not-allowed;
	}

	&.loading {
		opacity: .7;
		cursor: wait;
	}

	&.icon-left {
		svg,
		.icon {
			order: -1;
		}
	}

	svg,
	.icon {
		width: 8px;
	}

	&:not(.disabled):not(.loading) {
		&:hover,
		&:focus,
		.card-clickable:hover &,
		.card-clickable:focus & {
			--button-background: var(--button-background-hover);
			--button-border-color: var(--button-border-color-hover);
			--button-color: var(--button-color-hover);
			--button-icon-color: var(--button-icon-color-hover);
		}
	}
}

// Components
// ----------

.button {
	@include ds-button-base();
}

.button.secondary {
	--button-background: var(--black);
	--button-border-color: var(--button-background);
	--button-color: var(--secondary-color);
	--button-icon-color: var(--button-color);

	--button-background-hover: var(--gray-dark);
	--button-border-color-hover: var(--button-background-hover);
	--button-color-hover: var(--button-color);
	--button-icon-color-hover: var(--button-color-hover);
}

.button.hollow {
	--button-background: transparent;
	--button-border-color: var(--black);
	--button-color: var(--black);
	--button-icon-color: var(--button-color);

	--button-background-hover: transparent;
	--button-border-color-hover: var(--secondary-color);
	--button-color-hover: var(--primary-color-dark);
	--button-icon-color-hover: var(--button-color-hover);
}

.button.ghost {
	--button-background: transparent;
	--button-border-color: transparent;
}
