// Buttons
// -------

@use '../../variables' as *;

// Settings
// --------

:root {
	--button-margin-bottom: 1em;
	--button-padding: .75em 1em;
	--button-border-width: 1px;
	--button-border-radius: 4px;
	--button-transition: .2s ease-out;

	--button-background: var(--secondary-color);
	--button-border-color: var(--button-background);
	--button-color: var(--black);
	--button-icon-color: var(--button-color);

	--button-background-hover: var(--secondary-color-dark);
	--button-border-color-hover: var(--button-background-hover);
	--button-color-hover: var(--button-color);
	--button-icon-color-hover: var(--button-color-hover);
}

// Mixins
// ------

/// Button styling.
@mixin ds-button-base(
	$margin-bottom: var(--button-margin-bottom),
	$padding: var(--button-padding),
	$border-width: var(--button-border-width),
	$border-radius: var(--button-border-radius),
	$transition: var(--button-transition)
) {
	margin-bottom: $margin-bottom;
	padding: $padding;
	border: $border-width solid transparent;
	border-radius: $border-radius;
	cursor: pointer;
	line-height: 1;
	transition: $transition;

	&.disabled {
		opacity: .7;
		cursor: not-allowed;
	}
}

/// Button colors.
/// @param {Color} $background - Background color of the button.
/// @param {String} $border-color - Border of the button.
/// @param {Color} $color - Text color of the button.
/// @param {Number} $icon-color - Color of the icon.
@mixin ds-button-color(
	$background: var(--button-background),
	$border-color: var(--button-border-color),
	$color: var(--button-color),
	$icon-color: var(--button-icon-color)
) {
	background: $background;
	border-color: $border-color;
	color: $color;

	.icon {
		color: $icon-color;
	}
}

/// Button hover styling.
/// @param {Color} $background - Background color of the button.
/// @param {String} $border - Border of the button.
/// @param {Color} $color - Text color of the button.
/// @param {Number} $icon-color - Color of the icon.
@mixin ds-button-hover(
	$background: var(--button-background-hover),
	$border-color: var(--button-border-color-hover),
	$color: var(--button-color-hover),
	$icon-color: var(--button-icon-color-hover)
) {
	&:not(.disabled) {
		&:hover,
		&:focus,
		.card-clickable:hover &,
		.card-clickable:focus & {
			@include ds-button-color(
				$background: $background,
				$border-color: $border-color,
				$color: $color,
				$icon-color: $icon-color
			);
		}
	}
}

// Components
// ----------

.button {
	@include ds-button-base();
	@include ds-button-color();
	@include ds-button-hover();
}

.button.secondary {
	--button-background: var(--black);
	--button-border-color: var(--button-background);
	--button-color: var(--secondary-color);
	--button-icon-color: var(--button-color);

	--button-background-hover: var(--gray-dark);
	--button-border-color-hover: var(--button-background-hover);
	--button-color-hover: var(--button-color);
	--button-icon-color-hover: var(--button-color-hover);
}

.button.hollow {
	--button-border-width: 2px;

	--button-background: transparent;
	--button-border-color: var(--black);
	--button-color: var(--black);
	--button-icon-color: var(--button-color);

	--button-background-hover: transparent;
	--button-border-color-hover: var(--secondary-color);
	--button-color-hover: var(--primary-color-dark);
	--button-icon-color-hover: var(--button-color-hover);
}
