:root {
    // Branding color palette
    --primary-color: #583df9;
    --primary-color-dark: #2f19b3;
    --primary-color-light: #8e7df9;
    --secondary-color: #6dcbff;
    --secondary-color-dark: #64bbeb;
    --secondary-color-light: #a1ddff;
    --tertiary-color: #e2194a;
    --tertiary-color-dark: #cc0032;
    --tertiary-color-light: #e66786;
    --quaternary-color: #063dce;
    --quaternary-color-dark: #0032b5;
    --quaternary-color-light: #6d88ce;
    // Grayscale color palette
    --black: #080a35;
    --gray-dark: #414471;
    --gray-medium: #656979;
    --gray-light: #e3e3e3;
    --gray-lighter: #f6f7f9;
    --white: #fff;

    --font-family-base: 'Arial', sans-serif;
    --font-family-heading: 'Arial', sans-serif;
}
